@model Training

<div>
    <h5 class="mb-3">@Model.TrainingType on @Model.TrainingDate.ToString("MMMM dd, yyyy")</h5>
    <p><strong>Duration:</strong> @Model.TrainingDurationMinutes minutes</p>
    <p><strong>Notes:</strong> @Model.TrainingNotes</p>
</div>